{% extends 'base.html' %}

{% block content %}
<div class='body'>
	<form method='POST'> {% csrf_token %}
		<a href="{% url 'tests:Create DynMCQTest Menu' %}">Retour</a>
		<h2>MCQ Questions :</h2>
		{% for instance in DynMCQquestions %}
			<p><a href='{{ instance.get_absolute_url_question }}'>MCQ Question : </a>{{instance.q_text}} &nbsp &nbsp &nbsp <a href='{{ instance.get_absolute_url_delete }}'>Delete</a></p>
		{% endfor %}
		<br/>
		<h4><a href="{% url 'tests:AddQuestion DynMCQquestion' %}">Créer une nouvelle question QCM</a></h4>
		<br/><br/>
		<h2>Questions :</h2>
		{% for instance in Dynquestions %}
			<p><a href='{{ instance.get_absolute_url_question }}'>Question : </a>{{instance.q_text}} &nbsp &nbsp &nbsp <a href='{{ instance.get_absolute_url_delete }}'>Delete</a></p>
		{% endfor %}
		<br/>
		<h4><a href="{% url 'tests:AddQuestion Dynquestion' %}">Créer une nouvelle question</a></h4>
	</form>
</div>
{% endblock content %}

