{% extends 'base.html' %}

{% block content %}
<div class='body'>
	<form method='POST'> {% csrf_token %}
		<h1>Informations du test :</h1>
		<p>ID du test: {{ form.id_test }}</p>
		<p>Titre du test: {{ form.title }}</p>
		<input type='submit', value='Save'/>
		<br/>
		<h1>Tests :</h1>
		<br/>
		{% for instance in DynMCQTestInfo_list_all %}
			<p><a href='{{ instance.get_absolute_url_q_menu }}'>Test {{ instance.id_test }} </a>: {{ instance.title }}</p>
		{%endfor%}
		<br/>
		<br/>
		<h4><a href="{% url 'tests:Manage Questions' %}">Manage Questions</a></h4>
		
	</form>
</div>
{% endblock content %}

