{% extends 'base.html' %}

{% block content %}
<div class='body'>

    <h1>Create Test</h1>

    <ul>
		<li><a href="{% url 'tests:Create DynMCQTest Menu' %}">Dynamic MCQ Test</a></li>
    </ul>
	<br/>
	<h1>Tests List</h1>
	
	<h2>Dynamic MCQ TEST :</h2>
	
	{% for instance in testlist_dynmcqtestinfo_all %}
            <p>
                    <a href='{{ instance.get_absolute_url_display }}'>Test {{ instance.id_test }}</a>: {{ instance.title }}
                <!-- {{ instance.description }} -->
            </p>
    {% endfor %}

</body>
{% endblock content %}