{% extends 'base.html' %}

{% block content %}

<div class='body'>
    <h1>Tests List</h1>

    <h2>Standard:</h2>

    {% for instance in tests_list %}
            <p>
                    <a href='{{ instance.get_absolute_url }}'>Test {{ instance.id_test }}</a>: {{ instance.title }}
                <!-- {{ instance.description }} -->
            </p>
    {% endfor %}

    <h2>Multiple Choices Questions:</h2>

    {% for instance in tests_mcq_list %}
            <p>
                    <a href='{{ instance.get_absolute_url }}'>Test {{ instance.id_test }}</a>: {{ instance.title }}
                <!-- {{ instance.description }} -->
            </p>
    {% endfor %}
	
	<h2>Multiple Choices Questions TEST :</h2>
	
	{% for instance in tests_mcqtest_list %}
            <p>
                    <a href='{{ instance.get_absolute_url }}'>Test {{ instance.id_test }}</a>: {{ instance.title }}
                <!-- {{ instance.description }} -->
            </p>
    {% endfor %}
	
	<h2>Dynamic TEST :</h2>
	
	{% for instance in testlist_dyntestinfo_all %}
            <p>
                    <a href='{{ instance.get_absolute_url_dyntest }}'>Test {{ instance.id_test }}</a>: {{ instance.title }}
                <!-- {{ instance.description }} -->
            </p>
    {% endfor %}
	
	<h2>Dynamic MCQ TEST :</h2>
	
	{% for instance in testlist_dynmcqtestinfo_all %}
            <p>
                    <a href='{{ instance.get_absolute_url_display }}'>Test {{ instance.id_test }}</a>: {{ instance.title }}
                <!-- {{ instance.description }} -->
            </p>
    {% endfor %}

</div>

{% endblock content %}