{% extends 'base.html' %}

{% block content %}

<div class='body'>
	<h1>Form {{ form.id_test }}</h1>

	<h2>Questions:</h2>

	<h3><p>Question 1 : {{ form.q1 }}</p></h3>
	
	<p>1. {{ form.r11 }}</p> 
	<p>2. {{ form.r12 }}</p>
	<p>3. {{ form.r13 }}</p>
	<p>4. {{ form.r14 }}</p>
	
	<h3><p>Question 2 : {{ form.q2 }}</p></h3>
	
	<p>1. {{ form.r21 }}</p> 
	<p>2. {{ form.r22 }}</p>
	<p>3. {{ form.r23 }}</p>
	<p>4. {{ form.r24 }}</p>
	
	<h3><p>Question 3 : {{ form.q3 }}</p></h3>
	
	<p>1. {{ form.r31 }}</p> 
	<p>2. {{ form.r32 }}</p>
	<p>3. {{ form.r33 }}</p>
	<p>4. {{ form.r34 }}</p>
	
	<h3><p>Question 4 : {{ form.q4 }}</p></h3>
	
	<p>1. {{ form.r41 }}</p> 
	<p>2. {{ form.r42 }}</p>
	<p>3. {{ form.r43 }}</p>
	<p>4. {{ form.r44 }}</p>
	
	<h3><p>Question 5 : {{ form.q5 }}</p></h3>
	
	<p>1. {{ form.r51 }}</p> 
	<p>2. {{ form.r52 }}</p>
	<p>3. {{ form.r53 }}</p>
	<p>4. {{ form.r54 }}</p>
</div>

{% endblock content %}
