{% extends 'base.html' %}

{% block content %}
<div class='body'>
	<form method='POST'>
		<p><a href='{{ DynMCQquestionTest.get_absolute_url_question }}'>Retour</a></p>
		<h1>Passing Test : {{ DynMCQTestInfo.id_test }} Title : {{ DynMCQTestInfo.title }}</h1>
		<br/>
		<h2>Question {{DynMCQquestionTest.q_num}} : {{DynMCQquestionTest.q_text}}
		{% if empty_answer is True %}
			{{ form.management_form }}	
			{% csrf_token %}
			{%for instance in form%}
				<h4>Réponse n° {{forloop.counter}}</h4>
				<p>Réponse : {{instance.ans_text}}</p>
				<p>Bonne réponse : {{instance.right_ans}}</p>
			{%endfor%}
			<input type='submit', value='Save'/>
		{% endif %}
		
		{% if empty_answer is False %}
			{% for instance in DynMCQanswerTest_List %}
				<h4>Réponse {{instance.ans_num}} : {{instance.ans_text}}</h4>
				{% if instance.right_ans == 1 %}
					<p>Bonne réponse</p>
				{% endif %}
				<br/>
			{% endfor %}
		{% endif %}
	</form>
</div>

{% endblock content %}
