{% extends "base.html" %}

{% block content %}
<h1>Registration</h1>

<form action="{% url 'tests:register' %}" method="post">
	{% csrf_token %}
	<input type="text" name="username" placeholder="Username"><br>
	<input type="text" name="last_name" placeholder="Last Name"><br>
	<input type="text" name="first_name" placeholder="First Name"><br>
	<input type="email" name="email" placeholder="Email"><br>
	<input type="text" name="password" placeholder="Password"><br><br>
	Fonction : 
	<select name="function" size="1">
	<option>Student
	<option>Teacher
	</select><br><br>
	Groupe 1 :
	<select name="group1" size="1">
	<option>esilv_IF1
	<option>esilv_IF2
	<option>hec_COM1
	<option>hec_COM2
	</select><br>
	Groupe 2 :
	<select name="group2" size="1">
	<option>None
	<option>esilv_IF1
	<option>esilv_IF2
	<option>hec_COM1
	<option>hec_COM2
	</select><br><br>
	
	<input type="submit" value="Register">
</form>

{% for message in messages %}
	<h3>{{message}}</h3>
{% endfor %}

{% endblock %}