{% extends 'base.html' %}

{% block content %}
<div class='body'>
	
	<form method='POST'> {% csrf_token %}

		<h1>Passing Test {{ form_questions.id_test }}</h1>
		<p>{{ form_answers.id_test }}</p>
		<p>Student id: {{ form_answers.id_student }}</p>
		<p>MCQTest id: {{ form_answers.id_MCQTest }}</p>
	
		<h2>Questions</h2>
		
		<h3><p>Question 1: {{ form_questions.q1 }}</p></h3>
		
		<p>1. {{ form_questions.r11 }}</p>
		<p>2. {{ form_questions.r12 }}</p>
		<p>3. {{ form_questions.r13 }}</p>
		<p>4. {{ form_questions.r14 }}</p>
		
		<p>Votre réponse : {{ form_answers.q1 }}</p>

		<h3><p>Question 2: {{ form_questions.q2 }}</p></h3>
		
		<p>1. {{ form_questions.r21 }}</p>
		<p>2. {{ form_questions.r22 }}</p>
		<p>3. {{ form_questions.r23 }}</p>
		<p>4. {{ form_questions.r24 }}</p>
		
		<p>Votre réponse : {{ form_answers.q2 }}</p>
		
		<h3><p>Question 3: {{ form_questions.q3 }}</p></h3>
		
		<p>1. {{ form_questions.r31 }}</p>
		<p>2. {{ form_questions.r32 }}</p>
		<p>3. {{ form_questions.r33 }}</p>
		<p>4. {{ form_questions.r34 }}</p>
		
		<p>Votre réponse : {{ form_answers.q3 }}</p>

		<h3><p>Question 4: {{ form_questions.q4 }}</p></h3>
		
		<p>1. {{ form_questions.r41 }}</p>
		<p>2. {{ form_questions.r42 }}</p>
		<p>3. {{ form_questions.r43 }}</p>
		<p>4. {{ form_questions.r44 }}</p>
		
		<p>Votre réponse : {{ form_answers.q4 }}</p>

		<h3><p>Question 5: {{ form_questions.q5 }}</p></h3>
		
		<p>1. {{ form_questions.r51 }}</p>
		<p>2. {{ form_questions.r52 }}</p>
		<p>3. {{ form_questions.r53 }}</p>
		<p>4. {{ form_questions.r54 }}</p>
		
		<p>Votre réponse : {{ form_answers.q5 }}</p>

		<input type='submit', value='Save'/>
	</form>
</div>

{% endblock content %}
